

.tooltip{
  position: relative; 
  display: flex;
  color: white;
}

.tooltip_button:hover ~.tooltip_container{
  visibility: visible;
  
}

.tooltip_container{
  position: absolute;
  left: 70px;
  visibility: hidden;
}

.tooltip_text{
  background-color: var( --main-color-purple-transparent);
  border-radius: 3px;
  padding: 4px;
  width: 200px;
  display: flex;
  justify-content: center;
  z-index: 999;
}
