.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: white;
    padding: 20px;
    content: "";
    inset: 0;
    z-index: 998;
    border-radius: 3px;
    width: 300px;
}

.popupContainer {
    z-index: 999;
    border-radius: 3px;
    border: 3px solid transparent;
    background: linear-gradient(140deg, #d9edf7 35%, rgba(237, 202, 216, 0) 50%, var(--main-color-lightpurple)), radial-gradient(circle, #ffcae1 0, #daeafc 100%) border-box
}

.closeButton {
    position: relative;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.title {
    font-size: var(--font-body);
    font-weight: bold;
    margin: 10px 0;
    color: black;
}

.buttonInnerContainer .button {
    margin-right: 16px !important;
}

.buttonInnerContainer .button:last-child {
    margin-right: 0 !important;
}

.titleBox {
    padding-bottom: 20px;
}