.progressBar {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: #ddd;
}

.barStatus {
  position: absolute;
  height: 100%;
  background-color: #25F;
  transition: width 2s; /* Adjust the duration of the animation as needed */
  width: 5%; /* Initial width */
}

.barStatus.active {
  width: 100%; /* Final width */
}
