.header{
  max-height: 400;
  height: 6em;
  position: relative;
  padding: 1.3rem;
  backdrop-filter: blur(10px);
  }
  
  .header::before {
    content: "";
    position: absolute;
    inset: 0;
    border-bottom: 5px solid transparent;
    background: linear-gradient(140deg, red, orange, yellow, green, indigo, blue) border-box;
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
  }


.headerTitle{
  text-align: center;
  margin:auto;
  display: flex;
  justify-content: center;
  color: black;
  padding-top: 25px;
  font-family: var(--headings);
  font-size: var(--font-section-header);
}

