
.promptContainer{
  display: flex;
  flex-direction: column;
}
.prompt{
  padding:10px;
  margin:10px;
}
.container{
  display: flex;
  position: inherit;
  justify-content: center;
}

.response{
padding:3em;
background-color: purple;
margin:10px;
color:white;
border-radius: 20px;
}

.responseContainer{
  animation: slideInFromLeft
}

.overlay{
  display: flex;
  flex-direction: row;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}