.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 20vh;
  
}

.promptContainer{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 430px;

}
.resourceContainer{
  padding:10px;
margin:auto;
}
.container{
  display: flex;
  position: inherit;
  justify-content: center;
  margin: 0 auto;
}

.response{
  width:430px;
}

.message{
  margin: 0;
  font-style: italic;
}

.formContainer{
  margin: auto;

}
.responseContainer{
  animation: 1s ease-out 0s 1 slideInFromLeft;
  margin: 0;
  width: 200px;
  position: relative;
  display: flex;
  flex-direction: column;

}

.gptContainer{
  white-space: pre-wrap;
  width: 100%;
}

.overlay{
  display: flex;
  flex-direction: row;
}

.overlay{
  background-color: var(--lightpurple-background);
  z-index: 999;
  display: flex;
  width: 100vw;
  height: 100vh;
  position:relative;
  display: flex;
}

.textContainer{
  text-align: center;
  margin:auto;
}

.buttonOptions {
  padding:5em;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
}

.alert{
  width: 430px;
  height: 600px;
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  flex-direction: column;
  text-align: center;
  animation: 1s ease-out 0s 1 slideInFromLeft;
  background-color: var(--offest-of-whites);
  border-radius: 10px;
  border: 1px solid black
}

.button_container{
  padding:10px;
  margin: 10px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}