.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 20vh;
}

.header {
  width: 25rem;
}

.promptContainer{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 3em;
  align-items: center;
  margin-bottom: 5em;
  gap: 2rem;
}

.prompt{
  padding:10px;
  margin:10px;
}

.container{
  display: flex;
  position: inherit;
  justify-content: center;
}

.response{
padding:3em;
background-color: purple;
margin:10px;
color:white;
border-radius: 20px;
}

.responseContainer{
  animation: 1s ease-out 0s 1 slideInFromLeft;
  margin: 2em;
  width: 300px;
  position: relative;
  display: flex;
}

.gptContainer{
  border: 1px solid black;
  width: 100%;
}

.overlay{
  display: flex;
  flex-direction: row;
}

.overlay{
  background-color: var(--lightpurple-background);
  z-index: 999;
  display: flex;
  width: 100vw;
  height: 100vh;
  position:relative;
  display: flex;
}

.textContainer{
  text-align: center;
}

.buttonOptions {
  padding:5em;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}