.nav {
  position: fixed; 
  bottom: 0; 
  left: 0; 
  max-width: 430px;
  width: 100%; 
  display: flex;
  flex-direction: row;
  background-color:#8E71D5;
  justify-content: center;
}

.buttonContainer{
  padding:10px;

}

.navOptions{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
}

.navLink{
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  list-style: none;
}

.navLink:hover{
  background-color: #CCBFED;
}

.navText{
  text-decoration: none;
  list-style: none;
  color:black;
}

.navText:visited{
  text-decoration: none;
  list-style: none;
  color: black;
}