.nav {
  position: fixed;
  bottom: 0;
  width: 430px;
  margin: auto;
  display: flex;
  flex-direction: row;
  background-color: var(--main-color-lightpurple);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  justify-content: space-around;
}

.navContainer {
  position: relative;
  justify-content: space-around;
  width: 100%;
}

.buttonContainer {
  padding: 10px;
}

.navOptions {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  text-decoration: none;
}

.navLink {
  border-radius: 10px;
  text-decoration: none;
  list-style: none;
  padding-left: 0.5rem;
  justify-content: center;
}

.image:hover {
  background-color: #8b82a4;
  border-radius: 10px;
}

.navText {
  text-decoration: none;
  list-style: none;
  color: black;
}

.navText:visited {
  text-decoration: none;
  list-style: none;
  color: black;
}

.oscar {
  position: relative
}