.mobileContainer{
    width: 430px; 
    margin: 0 auto; 
  }

  .main {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--background-color); 
    height: 100vh;
  }
  
  .article {
    border: 1px solid #ccc; 
    border-radius: 10px; 
    padding: 10px;
    margin-top: 50px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s;

  }
  
  .article:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); 
  }
  
  .article p {
    margin: 20px 0; 
  }
  
  .article a {
    color: var(--main-color-purple); 
    text-decoration: none; 
  }
  
  .article a:hover {
    text-decoration: underline; 
  }
  
  .button {
    padding: 10px 20px;
    border: none;
    background-color: #0070f3; 
    color: white;
    border-radius: 5px; 
    cursor: pointer;
    outline: none; 
    transition: background-color 0.2s; 
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .button:disabled {
    background-color: #ccc;
    cursor: default;
  }

  .buttonContainer{
    display: flex;
    position: relative;
    margin: auto;
    justify-content: center;
  }

  .articleContainer{
    padding:100px;
  }
  .article::after {
    content: "";
    position: relative;
    top: calc(-1 * 3px);
    left: calc(-1 * 3px);
    z-index: -3;
    width: calc(100% + 3px * 2);
    height: calc(100% + 3px * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      var(--main-color-lightpurple),
      var(--main-color-lightpurple),
      var(--secondary-color-blue),
      var(--secondary-color-lightblue),
      hsl(314, 100%, 92%),
      hsl(224, 56%, 49%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * 3px);
    animation: moveGradient 4s alternate infinite;
  }
  
  .articleInnerContainer{
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom:1rem;
  }


  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }

.category{
    font-family: var(--body-text);
    font-size: var(--font-secondary);
    width: 75%;
    margin:0;
    padding:0;
}

.titles{
  font-weight:bold;
}

.image{
  border-radius: 10px;
  margin-top: 10px;
}