.container{
    padding: 1rem 3rem;
    background-color: var(--secondary-color-lightblue);
    font-family: "Noto", sans-serif;
  }
  
.title, 
.activeQ{
    color: black;
  }
  
  .hthree {
    padding-bottom: 2rem;
    color: #000105;
    font-size: 1.8rem;
  }
  
  .btn {
    padding: 16px 8px;
    width: 100%;
    margin-top: 12px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--main-color-purple);
    color: #f8f8f8;
  }
  
  .btnDisabled {
    background-color: lightgray;
    padding: 16px 8px;
    width: 100%;
    margin-top: 12px;
    font-size: 1rem;
    border-radius: 4px;
    color: darkgray;

  }
  
  .answerList {
    list-style-type: none;
    cursor: pointer;
    margin: 9px 0;
    padding: 16px 8px;
    color: #000105;
    border: 1px solid lightgray;
  }
  
  .itemHover:hover {
    background-color: #d8d8d8;
    columns: #fff;
  }
  
  .itemSelected {
    color: #fff;
    background-color: #000925;
  }
  
  .container {
    max-width: 740px;
    width: 100%;
    margin: auto;
    padding: 1rem;
  }
  
  .quizContainer {
    background-color: #f8f8f8;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 4px;
  }
  
  .paragraph {
    padding: 8px 0;
  }