
@media only screen and (max-width:431px) {
  .container{
  padding: 1rem 0;
  background-color: white;
  width: 95%;
  margin: auto;
  margin-top: 3rem;
  border-radius: 10px;
  font-size: var(--font-body);

}

.activeQ{
  color: black;
  text-align: center;
  padding:10px;
  font-family: var(--headings);
}

.question{
  font-family: var(--body-text);
  font-size: var(--font-body);
  margin: 20px 10px;

}

.hthree {
  padding-bottom: 2rem;
  color: #000105;
  font-size: 1.8rem;
}

.btn {
  padding: 16px 8px;
  width: 60%%;
  margin-top: 12px;
  font-size: var(--font-button);
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--main-color-purple);
  color: #f8f8f8 bold;
  font-family: var(--headings);

}

.btnDisabled {
  background-color: lightgray;
  padding: 16px 8px;
  width: 100%;
  margin-top: 12px;
  font-size: var(--font-button);
  border-radius: 4px;
  color: darkgray;
  font-family: var(--headings);

}

.answerList {
  list-style-type: none;
  cursor: pointer;
  margin: 10px 50px;
  padding: 8px 15px;
  color: #000105;
  border: 1.5px solid lightgray;
  background-color: white;
  font-family: var(--body-text);
  font-size: var(--font-secondary);
}


.activeQ{
  margin: 1rem;
}

.itemHover:hover {
  background-color: #CCBFED;
  columns: #fff;
}

.itemSelected {
  color: #474747;
  background-color:#8E71D5;
}

.quizContainer {
  background: linear-gradient(-10deg, #d9edf7 35%, rgba(237, 202, 216, 0) 50%, var(--main-color-lightpurple)), radial-gradient(circle, #ffcae1 0, #daeafc 100%);
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 4px;
}

.paragraph {
  padding: 8px 0;
}

}