.button__container {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 12rem;
    background-size: cover;
    background-position: center;
    width: 430px;
}

.category__button {
    width: 430px;
    height: 30%;
    border-radius: 0;
    border: none;
    background-color: var(--main-color-lightpurple-transparent);
}

.button__heading {
    font-size: 22px;
    font-family: var(--headings);
    display: flex;
    justify-content: flex-start;
    padding-left: 1rem;
}

