.mobileContainer{
  width: 430px; 
  margin: 0 auto; 
}

.main {
  overflow-x: hidden;
  justify-content: center;
  display: flex;
  background-color: var(--lightpurple-background);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 60vh;
  font-family: "Montserrat", "sans-serif";
}

/* .container {
  max-width: 400px;
  max-height: 932px;
  width: 100%;
  background-color: #8CACF4;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  border-radius: 10px;
  z-index: 1;
} */

.container {
  background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
 animation: morph 8s ease-in-out infinite;
 border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
 height: 400px;
 transition: all 1s ease-in-out;
 width: 400px;
 z-index: 5;
 max-height: 932px;
 position: relative;
 display: flex;
 flex-direction: column;
}

@keyframes morph {
 0% {
     border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
     background: linear-gradient(45deg, var(--main-color-purple) 0%, var(--main-color-lightpurple) 100%);
 } 
 
 50% {
     border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
     background: linear-gradient(45deg, var(--secondary-color-blue) 0%, var(--main-color-lightpurple) 100%);
 }
 
 100% {
   border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
   background: linear-gradient(45deg, var(--main-color-purple) 0%, var(--main-color-lightpurple) 100%);
 } 
}


.title{
  text-align: center;
  padding:10px;
  font-family: "Montserrat", "sans-serif";
}

.descriptionContainer{
  text-align: center;
  padding:10px
}

.buttonContainer {
  text-align: center;
  padding: 10px;
}

.backgroundArt {
  z-index: 999;
  position: relative;
  bottom: 200px;
}