.response{
  text-align: left;
  font-weight: bold;
}

.message{
  font-style: italic;
  padding: 10px;
}

.gptContainer{
  width: 100%;
}

.animationContainer{
  display: flex;
  position: relative;
  margin: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
}