.response{
  text-align: right;
  font-weight: bold;
}

.message{
  font-style: italic;
  padding: 10px;
  font-size: var(--font-body) ;
}

.gptContainer{
  width: 100%;
}

.animationContainer{
  display: flex;
  position: relative;
  margin: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.formContainer{
  display: flex;
  flex-direction: column;
}

.input{
  width: 300px;
}

.buttonContainer{
  display: flex;
  position: relative;
  justify-content: center;
}