.mobileContainer{
  width: 430px; 
  margin: 0 auto; 
}

.main {
  overflow-x: hidden;
  display: flex;
  background-color: var(--lightpurple-background);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 60vh;
}

.backContainer{
  z-index: 999;
}

.chartContainer{
  padding-top:25px;
}

.goalContainer{
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.doughnutContainer{
  width: 100px;
}


.goalText{
  margin: auto;
  padding-left: 10px;
}

.buttonContainer{
  margin: auto;
}

.goalTextContainer {
  display: flex;
  flex-direction: column;
}

.buttonContainer{
  width: 100px;
}