.mobileContainer {
  width: 430px;
  margin: 0 auto;
}

.main {
  overflow-x: hidden;
  justify-content: center;
  display: flex;
  background-color: var(--lightpurple-background);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background-color);
}

.quote,
.student,
.name {
  margin: 10px;
  text-align: center;
}

.successText {
  font-size: 24px;
}

.optionsContainer {
  text-align: center;
}

.imageContainer{
margin-left:auto;
margin-right: auto;
margin-top:20px;
  overflow: hidden;
  border-radius: 100px;
  object-fit: cover;
  width: 150px; 
  height: 150px;
}

.profileImg{
  object-fit: cover;
}

.image {
  padding-right: 10px;
}

.successContainer,
.appContainer,
.accountContainer {
  display: flex;
  flex-direction: row;
  padding: 30px;
  align-items: center;
}

.shape {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(45, 45, 45, 0.3);
}

.successText {
  font-size: var(--font-body);
  text-decoration: none;
  color: black;
}

.successText:hover{
  color: var(--main-color-purple)
}

.circle {
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  background-color: #8CACF4;
  width: 500px;
  height: 250px;
  margin-top: 180px;
  margin-left: -65px;
}

.circle2 {
  background-color: #CCE3FB;
  width: 370px;
  height: 250px;
  margin-top: 200px;
  margin-left: -100px;
}

.backgroundCircles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -999;
  bottom: 300px;
  justify-content: center;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.leftDiv{
  width: 745px;
  height: 100vh;
  background-color: white;
  position: absolute;
  z-index: 10;
  right: 950px;
}

.rightDiv{
  width: 745px;
  height: 1000px;
  background-color: white;
  position: absolute;
  z-index: 10;
  right: -225px;
  bottom: 100px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.quote{
  font-family: var(--body-text);
  font-size: var(--font-secondary);
  font-weight: 400;
}

.student{
  font-family: var(--body-text);
  font-size: var(--font-secondary);
  font-weight: 400;
}

.outerContainer{
  margin-top: 50px;
}