.mobileContainer{
  width: 430px; 
  margin: 0 auto;
  background-color: var(--background-color); 
}

.main {
  overflow-x: hidden;
  justify-content: center;
  display: flex;
  background-color: var(--lightpurple-background);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background-color);
  padding-top:4rem;
}

.name{
  font-size: var(--font-sub-header);
  margin: 10px;
  text-align: center;
}

.email, .number{
  font-size: var(--font-secondary);
  font-family: var(--body-text);
  margin: 5px;
  text-align: center;
}

.container{
  display: flex;
  position: relative;
  flex-direction: column;
  height:100%;
  margin-top: 4rem;
}

.optionsContainer{
  text-align: center;
}

.imageContainer{
  align-self: center;
  overflow: hidden;
  border-radius: 100px;
  object-fit: cover;
  width: 150px; 
  height: 150px;
}

.profileImg{
  object-fit: cover;
}

.image{
  padding-right: 10px;
}

.shape{
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.successText{
  font-size: var(--font-body);
}
.circle {
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  background-color: #8CACF4;
  width: 500px;
  height: 250px;
  margin-top: 180px;
  margin-left: -65px;
}

.circle2 {
  background-color: #CCE3FB;
  width: 370px;
  height: 250px;
  margin-top: 200px;
  margin-left: -100px;
}
.backgroundCircles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -999; 
  bottom:300px;
  justify-content: center;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.optionContainer{
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
}

.editOptions{
  margin-top: 2rem;
}

.pencil{
  padding:5px;
  margin-right: 10px; 
}

.pencil:hover{
  fill: var(--main-color-lightpurple)
}

.title{
  font-size: var(--font-body);
  margin-right: 10px;
}

.content{
  font-size: var(--font-secondary);
  font-family: var(--body-text);
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.pencil:hover{
  filter: 
  invert(0.5)
  sepia(1)
  hue-rotate(200deg)
  saturate(4)
  brightness(1);
}

.divider {
  background: linear-gradient(140deg,  #d9edf7 35%, rgba(237, 202, 216, 0) 50%, var(--main-color-lightpurple)), radial-gradient(circle, #ffcae1 0, #daeafc 100%) border-box;
  width: 24rem;
  height: 0.15rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.leftDiv{
  width: 745px;
  height: 100vh;
  background-color: white;
  position: absolute;
  z-index: 10;
  right: 950px;
}

.rightDiv{
  width: 745px;
  height: 1000px;
  background-color: white;
  position: absolute;
  z-index: 10;
  right: -225px;
  bottom: 100px;
}