.main {
  overflow-x: hidden;
  display: flex;
  background-color: var(--lightpurple-background);
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
  padding-top:0;
  align-items: flex-start;
}

.mobileContainer{
  width: 430px; 
  margin: 0 auto; 
}

.optionsContainer {
  display: flex;
  flex-direction: row;
  height: 25px;
  align-items: center;
  width: auto;
  justify-content: space-between;
  padding: 10px 30px;
}

.optionsOuter{
  width: 430px;
}

.description{
  width: auto;
  font-family: var(--body-text);
  font-size: var(--font-secondary);
}

.subHeading{
  font-family: var(--headings);
  font-size: var(--font-body);
  margin:20px;
  width: fit-content;
}

.horizontal{
  margin-top: 20px;
  border-bottom: 0.7px solid var(--main-color-purple);
}

.leftDiv{
  width: 745px;
  height: 100vh;
  background-color: white;
  position: absolute;
  z-index: 10;
  right: 950px;
}

.rightDiv{
  width: 745px;
  height: 1000px;
  background-color: white;
  position: absolute;
  z-index: 10;
  right: -225px;
  bottom: 100px;
}