.main {
  overflow-x: hidden;
  justify-content: center;
  display: flex;
  background-color: var(--lightpurple-background);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 60vh;
  font-family: "Montserrat", "sans-serif";
}

.mobileContainer{
  width: 430px; /* Hard-coded width */
  margin: 0 auto; /* Center the container horizontally */
}

.oscarContainer{
  position: relative;
  justify-content: center;
  display: flex;
  bottom: 20px;
}

.lineBreak {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.buttonContainer{
  padding:10px;
}

.header{
  text-align: center;
}

.body{
  padding:10px;
  font-size: var(--font-body);
  text-align: center;
}

.questionContainer{
  position: relative;
  margin-top: 150px;
  margin-right: 275px;
}
