
.main {
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  min-height: 140vh;
  background-color: var(--background-color);
}
.mobileContainer{
  width: 430px; 
  margin: 0 auto; 
}

  .banner__content {
    display: flex;
    flex-direction: column;
    width: 430px;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .heading__section {
    display: flex;
    justify-content: center;
    width: 430px;
    flex-direction: column;
    margin: auto;
  }

  .heading__section {
    display: flex;
    justify-content: center;
  }

  .oscar__container {
    display: flex;
    z-index: 10;
  }

  .heading__container{
    display: flex;
    flex-direction: column;
    gap: 0rem;
    justify-content: center;
    align-items: center;
    size: 36px;
    padding: 1rem;
    padding-top: 1.5rem;
    padding-right: 0.8rem;
    width: 100%;
    text-align: right;
    color: white;
    z-index: 3;
    color: var(--main-color-purple);
    font-family: var(--headings);
  }

  .heading__container2 {
    display: flex;
    margin-top: -1rem;
    color: var(--secondary-color-blue);
    font-size: var(--font-body);
    font-weight: medium;
  }

  .description {
    margin-top: 1rem;
    font-family: var(--body-text);
    font-weight: medium;
  }

  .subheading__container {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: var(--headings);
    font-size: var(--font-body);
    width: 20rem;
    font-weight: bold;
    padding-top: 0.8rem;
    padding-left: 1.5rem;
  }

  .subhead {
    text-align: left;
    width: 19rem;
  }

  .categories__heading{
    padding: 1rem;
    padding-top: 2.5rem;
    color: var(--main-color-purple);
    margin-left: 20px;
  }


.category__button__container{
  position: relative;
  margin-bottom: 100px;
}

.questionContainer{
  position: relative;
}

.oscar{
  position: relative;
  margin: auto;
}

.divider__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1rem;
}

.categories__heading__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories__heading {
  text-align: center;
  width: 65%;
  margin-bottom: -0.8rem;
}

.divider {
  background: linear-gradient(140deg,  #d9edf7 35%, rgba(237, 202, 216, 0) 50%, var(--main-color-lightpurple)), radial-gradient(circle, #ffcae1 0, #daeafc 100%) border-box;
  width: 24rem;
  height: 0.15rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.FloatingOscar{
  position: relative;
  display: flex;
  bottom: 100px;
}

.rightDiv{
  width: 745px;
  height: 100vh;
  background-color: white;
  position: absolute;
  z-index: 10;
  right: -225px;
}

.cards__section {
  margin-top: 0rem;
}


.section__cards {
  margin-top: -1rem;
  display: flex;
  padding: 1.7rem;
  gap: 0.5rem;
}