/**
BACKGROUND CIRCLES
**/

.main {
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  padding-top: 5em;
  min-height: 60vh;
  font-family: "Montserrat", "sans-serif";
}
.mobileContainer{
  width: 430px; 
  margin: 0 auto; 
}


  /**
  PAGE CSS
  **/

  .heading__section {
    display: flex;
    justify-content: flex-end;
  }

  .heading__container{
    display: flex;
    align-items: flex-end;
    size: 36px;
    padding: 1rem;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    width: 65%;
    text-align: right;
    color: white;
    z-index: 3;
  }

  .subhead{
    padding: 1rem;
    padding-top: 2.5rem;
    color: var(--main-color-purple);
    margin-left: 20px;
  }

.subheading__section{
  margin-right: 0;
  justify-content: center;
  position: relative;
  right: 20px;
}


.lmao {
  margin:10em;
}