.mobileContainer{
    width: 430px; 
    margin: 0 auto; 
    background-color: var(--main-color-lightpurple) ;
}
  
.main {
    overflow-x: hidden;
    justify-content: center;
    display: flex;
    background-color: var(--lightpurple-background);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.containerContainer {
    display: flex;
    justify-content: space-evenly;
}

.container{
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    align-content: center;
}

.title{
    text-align: center;
}

.titleBox{
    padding: 2rem 0;
}

.descriptionContainer{
    text-align: center;
    padding: 2rem 0;
}
