.mobileContainer {
    width: 430px;
    margin: 0 auto;
    background: linear-gradient(140deg,  #d9edf7 35%, rgba(237, 202, 216, 0) 50%, var(--main-color-lightpurple)), radial-gradient(circle, #ffcae1 0, #daeafc 100%) border-box;
}

.main {
    overflow-x: hidden;
    justify-content: center;
    display: flex;
    background-color: var(--lightpurple-background);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.containerContainer {
    display: flex;
    justify-content: space-evenly;
}

.container {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    align-content: center;
}

.title {
    text-align: center;
}

.titleBox {
    padding: 2rem 0;
}

.descriptionContainer {
    text-align: center;
    padding: 2rem 0;
    font-size: 15pt;
    font-weight: 400;
}

.name {
    font-size: var(--font-body-large);
    color: var(--main-color-purple);
    font-weight: 600;
    margin-top: 1rem;
    text-align: center;
}