.header {
  max-height: 400;
  height: 4em;
  position: relative;

}


.background__circle {
  position: fixed;
  top: -16.5rem;
  width: 50rem; 
  height: 400px; 
  background-color: var(--main-color-purple); 
  border-radius: 50%;
  z-index: 2; 
}

.background__circle2 {
  position: fixed;
  top: -8.5rem;
  width: 15rem; 
  height: 15rem; 
  background-color: var(--main-color-lightpurple); 
  border-radius: 50%;
  z-index: 1; 
}

.heading__section, .heading {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 4;
}

.heading{
  padding-right: 10px;
  font-family: var(--headings);
  padding-right: 30px;
}

.heading__container{
  display: flex;
  justify-content:space-around;
  padding-top: 1em;
  width: 200px;
  color: white;
  text-align: end;
  z-index: 3;
  margin-left:auto;
  padding-right: 30px;
}

.containerOfCircles{
  overflow-x: hidden;
}