.header {
  max-height: 400px;
  height: 8.8rem;
  position: sticky;
  width:430px
}

.background__circle {
  position: relative;
  top: -16.5rem;
  width: 50rem; 
  height: 400px; 
  background-color: var(--main-color-purple); 
  border-radius: 50%;
  z-index: 1; 
}

.background__circle2 {
  position: relative;
  top: -32.5rem;
  width: 15rem; 
  height: 15rem; 
  background-color: var(--main-color-lightpurple); 
  border-radius: 50%;
  z-index: -1; 
}

.heading {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.heading{
  padding-right: 10px;
  font-family: var(--headings);
  padding-right: 30px;
}

.heading__container{
  display: flex;
  justify-content:space-around;
  padding-top: 1em;
  width: 200px;
  color: white;
  text-align: end;
  margin-left:auto;
  padding-right: 30px;
  overflow: hidden; 
}

.containerOfCircles{
  position: absolute; 
  overflow: hidden; 
  height: 10rem; 
  width: 430px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
}